/*
All rights reserved. Copyright Robert Roy 2016.
*/
/* 
    Created on : Jan 16, 2017, 10:55:37 PM
    Author     : Robert Roy <www.robertsworkspace.com>
*/

*{
    margin:0;
    padding:0;
    color:black;
    font-size:1em;
    font-family: Arial;
}
.colorwhite {
    color:white;
}

h2{
    font-size: 2em;
    color: #003399;
}
body, html{
    min-width:100%;
    min-height:100%;
    height:100%;
    overflow-x:hidden;
}
#main{
    height:100%;
    width:100%;
    background: -webkit-radial-gradient(#003399, #0066ff);
    background: -o-radial-gradient(#003399, #0066ff);
    background: -moz-radial-gradient(#003399, #0066ff);
    background: radial-gradient(#003399, #0066ff);
    text-align:center;
}
#loginbanner{
    top:0;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    position:absolute;
    height:90px;
    width:90px;
    background-color:black;
    border-radius:75px;
    border: 5px #ffffff solid;
}
.contentdiv{
    background: #fff;
    display:block;
    min-width: 264px;
    width:100%;
    max-width: 400px;
    border:0px black solid;
    box-shadow: 1px 1px 50px #1e194a;
    border-radius:0px;
    border-radius: 5px;
    padding:20px;
}

.centerxy{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

input[type="text"], input[type="password"]{
    background: #fff;
    border-radius:5px;
    border:2px #444488 solid;
    font-size:1em;
    width:calc(100% - 30px);
    margin-bottom:4px;
    padding:10px;
}

/* Placeholder color changes */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #919191;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #919191;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #919191;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #919191;
}

input[type="submit"]{
    cursor: hand;
    cursor: pointer;
    background: #0066ff;
    font-weight: bold;
    font-size:1.2em;
    border-radius:5px;
    color:white;
    margin-bottom:3px;
    border:none;
    padding:10px;
    min-width:160px;
    width:calc(100%);
}